@import 'variables.less';

#screen-new-game {

    display: flex;
    flex-direction: column;
    
    font-size: 40px;

    > .setting-item {
        height: 100px;
        margin: 25px;
        border-bottom: 5px solid @background-color-page;

        display: flex;
        justify-content: space-between;
        align-items: center;


        input[type=checkbox] {
            transform: scale(3);
        }

        select {
            transform: scale(2);
            margin-right: 15px;

            > option {
                font-size: 30px;
                padding: 5px;
                background: lightblue;
            }

        }

        .dnd {
            height: 70px;
			border-radius: 40px;
			border: 7px dotted @background-color-page;
			display: flex;
			justify-content: center;
			align-items: center;
            color: @background-color-page;
        }

        #sound-custom-info {
            text-align: center;
            padding: 10px;
            font-size: 20px;
        }

        #sound-custom-dnd::before {
			content: "D'n'D custom sound!";
			// color: @background-color-page;
		}

    }

    #sound-custom > * {
        flex-grow: 1;
        flex-basis: 0;
    }

}


